main {
  margin: 2em;
}

.app-spinner {
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -16px;
  margin-left: -16px;
}

p {
  line-height: 2rem;
}

.post p {
  white-space: pre-wrap;
}

/* use this class for areas that should reflect saved line breaks */

.content {
  white-space: pre-line;
}

.fake-link {
  color: blue;
  font-family: helvetica;
  text-decoration: none;
}

.fake-link:hover {
  text-decoration: underline;
}

.invisible {
  visibility: hidden;
}

/* classes posts lists (all posts, my posts, etc.) */

.postList {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.postList .card {
  flex-basis: 300px;
  flex-grow: 1;
}

.postList .card-img-top {
  object-fit: cover;
  height: 200px;
}

.largeImage {
  width: 100%;
  object-fit: cover;
  max-height: 40vh;
}